body {
}

.cover {
  height: 400px;
  background-image: url(https://cdn.glitch.global/5facf31e-b982-49b8-8106-d64dafb35927/rsz_chloe-leis-aeeco_i_8xg-unsplash.jpg?v=1661894732281);
  color: white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
}
