body {
  margin: 0.5em;
  font-family: "Montserrat", sans-serif;
}
h1,h2,h3,h4,h5{
  font-family: "Barlow Condensed", sans-serif;
}
.cover {
  height: 400px;
  /*Foto de <a href="https://unsplash.com/@tsunamiholmes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Chloe Leis</a> en <a href="https://unsplash.com/es/s/fotos/cafe-interior?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  background-image: url(https://cdn.glitch.global/5facf31e-b982-49b8-8106-d64dafb35927/rsz_chloe-leis-aeeco_i_8xg-unsplash.jpg?v=1661894732281);
  color: white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
}

.cover-small {
  height: 200px;
  background-blend-mode: normal;
}

.logocentrum {
  font-family: "Aclonica", sans-serif;
}

.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.card-title {
  min-height: 2em;
}

.card-text {
  min-height: 12rem;
 }
